# Database
DB_USERNAME=root
DB_PASSWORD=
DB_PORT=3306
DB_HOST=localhost
DB_NAME=harsa

# Cloudinary
CLOUDINARY_CLOUD_NAME=YOUR-CLOUDINARY-CLOUD-NAME
CLOUDINARY_API_KEY=YOUR-CLOUDINARY-API-KEY
CLOUDINARY_API_SECRET=YOUR-CLOUDINARY-API-SECRET

# OpenAI
OPENAI_API_KEY=YOUR-OPENAI-API-KEY
OPENAI_ASSISTANT_ID=YOUR-OPENAI-ASSISTANT-ID